{% macro browse_list(items) %}
  {% if items %}
    <nav>
      <ul>
        {% for item in items %}
          {% if item.title and item.link %}
            <li>
              <a href="{{ item.link }}" class="browse-list-link{% if item.destructive %}-destructive{% endif %}">{{ item.title }}</a>
              {% if item.hint %}
                <div>
                  {{ _(item.hint) }}
                </div>
              {% endif %}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  {% endif %}
{% endmacro %}
