{% macro nav_button(
  href,
  label,
  aria_label=None,
  lang=None,
  class=None,
  link_img=None,
  link_img_class=None,
  id_key=None
) %}
    <a {% if id_key %}id="{{ id_key }}" {% endif %}
        href="{{ href }}" {% if lang %} lang="{{ lang }}" {% endif %}>
        {% if aria_label and aria_label != label %}
            <span class="notifications-sr-only">{{ aria_label }}</span>
            <span role="presentation" aria-hidden="true">{{ label }}</span>
        {% else %}
            {{ label }}
        {% endif %}
        {% if link_img %}
            <img aria-hidden="true" alt=""
                class="{% if link_img %} {{ link_img_class }} {% endif %}"
                src="{{ link_img }}" />
        {% endif %}
    </a>
{% endmacro %}


{% macro primary_button_blue_lighter(
  label="TODO: LABEL THIS BUTTON",
  href="/",
  class=None,
  id_key=None
  ) %}
<form {% if id_key %}id="{{ id_key }}" {% endif %} action="{{ href }}" class="notifications-button-container">
    <button class="fr-btn {% if class %} {{ class }} {% endif %}" aria-label="{{ label }}" type="submit">{{ label }}
    </button>
</form>
{% endmacro %}

{% macro secondary_button_transparent_white(
    label="TODO: LABEL THIS BUTTON",
    href="/",
    class=None,
    id_key=None
) %}
    <form {%if id_key %}id="{{ id_key }}" {% endif %} action="{{href}}" class="notifications-button-container">
        <button class="fr-btn fr-btn--secondary {% if class %} {{ class }} {% endif %}" aria-label="{{ label }}"
            type="submit">{{ label }}</button>
    </form>
{% endmacro %}