<div class="fr-header__body">
  <div class="fr-container">
    <div class="fr-header__body-row">
      <div class="fr-header__brand fr-enlarge-link">
        <div class="fr-header__brand-top">
          <div class="fr-header__logo">
            <p class="fr-logo">
              République
              <br>Française
            </p>
          </div>
          <div class="fr-header__navbar">
            <button class="fr-btn--search fr-btn" data-fr-opened="false" aria-controls="modal-474" id="button-475" title="Rechercher">
              Rechercher
            </button>
            <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-476" aria-haspopup="menu" id="button-477" title="Menu">
              Menu
            </button>
          </div>
        </div>
        <div class="fr-header__service">
          <a href="/" title="Accueil - [À MODIFIER - Nom du site / service] - Nom de l’entité (ministère, secrétariat d‘état, gouvernement)">
            <p class="fr-header__service-title">
              Notifications
            </p>
          </a>
          <p class="fr-header__service-tagline">L'e-mail transactionnel de l'État</p>
        </div>
      </div>
      <div class="fr-header__tools">
        <div class="fr-header__tools-links">
          <ul class="fr-btns-group">
            <li>
              <a class="fr-btn fr-icon-add-circle-line" href="[url - à modifier]">
                Créer un espace
              </a>
            </li>
            <li>
              <a class="fr-btn fr-icon-lock-line" href="[url - à modifier]">
                Se connecter
              </a>
            </li>
            <li>
              <a class="fr-btn fr-icon-account-line" href="[url - à modifier]">
                S’enregistrer
              </a>
            </li>
          </ul>
        </div>
        <div class="fr-header__search fr-modal" id="modal-474">
          <div class="fr-container fr-container-lg--fluid">
            <button class="fr-btn--close fr-btn" aria-controls="modal-474" title="Fermer">
              Fermer
            </button>
            <div class="fr-search-bar" id="search-473" role="search">
              <label class="fr-label" for="search-473-input">
                Rechercher
              </label>
              <input class="fr-input" placeholder="Rechercher" type="search" id="search-473-input" name="search-473-input">
              <button class="fr-btn" title="Rechercher">
                Rechercher
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fr-header__menu fr-modal" id="modal-476" aria-labelledby="button-477">
  <div class="fr-container">
    <button class="fr-btn--close fr-btn" aria-controls="modal-476" title="Fermer">
      Fermer
    </button>
    <div class="fr-header__menu-links">
    </div>
    <nav class="fr-nav" id="navigation-478" role="navigation" aria-label="Menu principal">
      <ul class="fr-nav__list">
        <li class="fr-nav__item">
          <a class="fr-nav__link" href="#" target="_self">Accueil</a>
        </li>
        <li class="fr-nav__item">
          <a class="fr-nav__link" href="#" target="_self">Pourquoi Notifications</a>
        </li>
        <li class="fr-nav__item">
          <a class="fr-nav__link" href="#" target="_self">Fonctionnalités</a>
        </li>
        <li class="fr-nav__item">
          <a class="fr-nav__link" href="#" target="_self">Documentation</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
