{% from "components/nav_menu_item.html" import nav_menu_item with context %}

<div class="fr-header__body">
  <div class="fr-container">
    <div class="fr-header__body-row">
      <div class="fr-header__brand fr-enlarge-link">
        <div class="fr-header__brand-top">
          <div class="fr-header__logo">
            <p class="fr-logo">
              République
              <br>Française
            </p>
          </div>
          <div class="fr-header__navbar">
            <button class="fr-btn--search fr-btn" data-fr-opened="false" aria-controls="modal-474" id="button-475" title="Rechercher">
              Rechercher
            </button>
            <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-476" aria-haspopup="menu" id="button-477" title="Menu">
              Menu
            </button>
          </div>
        </div>
        <div class="fr-header__service">
          <a href="/" title="Accueil - Notifications">
            <p class="fr-header__service-title">
              Notifications
            </p>
          </a>
          <p class="fr-header__service-tagline">L'e-mail transactionnel de l'État</p>
        </div>
      </div>

      <div class="fr-header__tools">
        {%if current_user.is_authenticated %}
          {% if not current_user.platform_admin %}
            {% if current_user.has_permissions() %}
              {% if current_user.has_permissions('view_activity') %}
                {{ nav_menu_item(url_for('main.service_dashboard', service_id=current_service.id),_('Dashboard'),'pl-0 header--'+header_navigation.is_selected('dashboard')) }}
              {% endif %}
              {{ nav_menu_item( url_for('main.choose_template', service_id=current_service.id),_('Templates'),'header--'+header_navigation.is_selected('templates')) }}
              {% if not current_user.has_permissions('view_activity') %}
                {{ nav_menu_item(url_for('main.view_notifications', service_id=current_service.id, status='sending,delivered,failed'),_('Sent messages'),'header--'+header_navigation.is_selected('sent-messages')) }}
                {% if current_service.has_jobs %}
                  {{ nav_menu_item(url_for('main.view_jobs', service_id=current_service.id),_('Bulk sends'),'header--'+header_navigation.is_selected('bulk-sends')) }}
                {% endif %}
              {% endif %}
              {% if current_user.has_permissions('manage_api_keys') %}
                {{ nav_menu_item(url_for('main.api_integration', service_id=current_service.id),_('API integration'),'header--'+header_navigation.is_selected('api-integration')) }}
              {% endif %}
              {{ nav_menu_item(url_for('main.manage_users', service_id=current_service.id),_('Team members'),'header--'+header_navigation.is_selected('team-members')) }}
              {% if current_user.has_permissions('manage_api_keys', 'manage_service') %}
                {{ nav_menu_item(url_for('main.service_settings', service_id=current_service.id),_('Settings'),'header--'+header_navigation.is_selected('settings')) }}
              {% endif %}
            {% else %} {# not current_user.has_permissions, i.e. services not in context #}
              {{ nav_menu_item(url_for('main.choose_account'),_('Your services'),'header--'+header_navigation.is_selected('choose_account'),id_key='choose_account') }}
              {{ nav_menu_item(url_for('main.contact', service_id=current_service.id),_('Contact us'),'header--'+header_navigation.is_selected('contact')) }}
            {% endif %}
          {% else %} {# current_user.platform_admin #}
            {% if not platform_admin_view_ind %}
              {% if current_user.has_permissions() %}
                {{ nav_menu_item(url_for('main.live_services', service_id=current_service.id), _('Admin panel'), 'pl-0') }}
                {{ nav_menu_item(url_for('main.service_dashboard', service_id=current_service.id),_('Dashboard'),'header--'+header_navigation.is_selected('dashboard')) }}
                {{ nav_menu_item( url_for('main.choose_template', service_id=current_service.id),_('Templates'),'header--'+header_navigation.is_selected('templates')) }}
                {{ nav_menu_item(url_for('main.api_integration', service_id=current_service.id),_('API integration'),'header--'+header_navigation.is_selected('api-integration')) }}
                {{ nav_menu_item(url_for('main.manage_users', service_id=current_service.id),_('Team members'),'header--'+header_navigation.is_selected('team-members')) }}
                {{ nav_menu_item(url_for('main.service_settings', service_id=current_service.id),_('Settings'),'header--'+header_navigation.is_selected('settings')) }}
              {% else %} {# not current_user.has_permissions, i.e. services not in context #}
                {{ nav_menu_item(url_for('main.choose_account'),_('Your services'),'pl-0 header--'+header_navigation.is_selected('choose_account'),id_key='choose_account') }}
                {{ nav_menu_item(url_for('main.live_services', service_id=current_service.id),_('Admin panel')) }}
              {% endif %}
            {% endif %}
          {% endif %}
        {% else %}
          <div class="fr-header__tools-links">
            <ul class="fr-btns-group">
              <li>
                <a class="fr-btn fr-icon-lock-line" href="{{url_for('main.sign_in' )}}">
                  Se connecter
                </a>
              </li>
              <li>
                <a class="fr-btn fr-icon-account-line" href="{{url_for('main.register' )}}">
                  S’enregistrer
                </a>
              </li>
            </ul>
          </div>
        {% endif %}
        <div class="fr-header__search fr-modal" id="modal-474">
          <div class="fr-container fr-container-lg--fluid">
            <button class="fr-btn--close fr-btn" aria-controls="modal-474" title="Fermer">
              Fermer
            </button>
            <div class="fr-search-bar" id="search-473" role="search">
              <label class="fr-label" for="search-473-input">
                Rechercher
              </label>
              <input class="fr-input" placeholder="Rechercher" type="search" id="search-473-input" name="search-473-input">
              <button class="fr-btn" title="Rechercher">
                Rechercher
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fr-header__menu fr-modal" id="modal-476" aria-labelledby="button-477">
  <div class="fr-container">
    <button class="fr-btn--close fr-btn" aria-controls="modal-476" title="Fermer">
      Fermer
    </button>
    <div class="fr-header__menu-links">
    </div>
    <nav class="fr-nav" id="navigation-478" role="navigation" aria-label="Menu principal">
      <ul class="fr-nav__list">
        <li class="fr-nav__item">
          <a class="fr-nav__link" href="/" target="_self">Accueil</a>
        </li>
        <li class="fr-nav__item">
          <a class="fr-nav__link" href="{{gca_url_for('whynotify')}}" target="_self">Pourquoi Notifications</a>
        </li>
        <li class="fr-nav__item">
          <a class="fr-nav__link" href="{{gca_url_for('features')}}" target="_self">Fonctionnalités</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
