{% extends  "admin_template.html" %}

{% macro service_list(
  heading,
  show_heading,
  organisations=[],
  services=[]
) %}
  {% if show_heading %}
    <div>
      <div>
        <h2>
          {{ heading }}
        </h2>
      </div>
      <div>
        <ul>
  {% else %}
    <ul>
  {% endif %}
  {% for org in organisations %}
    <li>
      <a href="{{ url_for('.organisation_dashboard', org_id=org.id) }}">{{ org.name }}</a>
      <p>
        {% set txt = _('live service') %}
        {{ org.count_of_live_services }}
        {{txt}}{% if org.count_of_live_services != 1 %}s{% endif %}
      </p>
    </li>
  {% endfor %}
  {% for service in services %}
    <li>
      <a href="{{ url_for('.service_dashboard', service_id=service.id) }}">{{ service.name }}</a>
    </li>
  {% endfor %}
  {% if show_heading %}
        </ul>
      </div>
    </div>
  {% else %}
    </ul>
  {% endif %}
  {% if show_add_service_button %}
    <div>
      <a href="{{ url_for('.add_service') }}">{{ _('Add a new service') }}</a>
    </div>
  {% endif %}
  <div></div>
{% endmacro %}

{% block per_page_title %}
  {{ _('Your services') }}
{% endblock %}

{% block maincolumn_content %}

  <h1 class="heading-large {% if current_user.has_access_to_live_and_trial_mode_services %}visually-hidden{% endif %}">
    {{ _('Your services') }}
  </h1>

  <nav class="browse-list {% if current_user.has_access_to_live_and_trial_mode_services %}mt-8 block clear-both contain-floats{% endif %}">

    {% if current_user.platform_admin %}
      <div>
        <div>
          <h2>
            {{ _('Admin panel') }}
          </h2>
        </div>
        <ul>
          <li>
            <a href="{{ url_for('.organisations') }}">{{ _('All organisations') }}</a>
            <p>
              {{ org_count|format_thousands }} {{ _('organisations') }}, {{ live_service_count|format_thousands }} {{ _('live services') }}
            </p>
          </li>
        </ul>
      </div>
      <div></div>
    {% endif %}
    {% set heading_txt = _('Live services') %}
    {% if current_user.organisations %}
      {{ service_list(
        heading=heading_txt,
        show_heading=current_user.trial_mode_services,
        organisations=current_user.organisations,
        services=current_user.live_services_not_belonging_to_users_organisations
      ) }}
    {% else %}
      {{ service_list(
        heading=heading_txt,
        show_heading=(current_user.trial_mode_services and current_user.live_services),
        services=current_user.live_services
      ) }}
    {% endif %}
    {% set trial_txt = _('Trial services') %}
    {% if current_user.trial_mode_services %}
      {{ service_list(
        heading=trial_txt,
        show_heading=(current_user.organisations or current_user.live_services),
        services=current_user.trial_mode_services
      ) }}
    {% endif %}

  </nav>

  {% if can_add_service %}
    <div>
      {% if current_user.has_access_to_live_and_trial_mode_services %}
        <div>
          <div>
            &nbsp;
          </div>
          <div>
      {% endif %}
      <a href="{{ url_for('.add_service') }}">{{ _('Add a new service') }}</a>
      {% if current_user.has_access_to_live_and_trial_mode_services %}
          </div>
        </div>
      {% endif %}
    </div>
  {% endif %}

{% endblock %}
