{% extends  "admin_template.html" %}
{% from "components/textbox.html" import textbox %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}

{% block per_page_title %}
{{ _('Create a new password') }}
{% endblock %}

{% block maincolumn_content %}

<div>
  <div>
    <h1>{{ _('Forgot your password?') }}</h1>

    <p>{{ _('We’ll send you an email to create a new password.') }}</p>
    {% set btn_txt = _('Send email') %}
    {% call form_wrapper() %}
      {{ textbox(form.email_address, safe_error_message=True, autocomplete='username') }}
      {{ page_footer(btn_txt) }}
    {% endcall %}

  </div>
</div>

{% endblock %}
