{% extends "withoutnav_template.html" %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}

{% block per_page_title %}
  {% if again %}
    Vous devez vous reconnecter
  {% else %}
    Connexion
  {% endif %}
{% endblock %}

{% block maincolumn_content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if again %}
      <h1 class="heading-large">Vous devez vous reconnecter</h1>
      {% if other_device %}
        <p>
          We signed you out because you logged in to Notify on another device.
        </p>
      {% else %}
        <p>
          We signed you out because you have not used Notify for a while.
        </p>
      {% endif %}
    {% else %}
      <h1 class="heading-large">Connexion</h1>
      <p>
        Si vous ne possédez pas de compte vous pouvez
        <a class="fr-link" href="{{ url_for('.register') }}">en créer un maintenant</a>.
      </p>
    {% endif %}

    {% call form_wrapper(autocomplete=True) %}
      {{ form.email_address(param_extensions={"autocomplete": "email"}) }}
      {{ form.password(param_extensions={"autocomplete": "current-password"}) }}
      {{ page_footer("Continue", secondary_link=password_reset_url, secondary_link_text="Forgotten your password?") }}
    {% endcall %}
  </div>
</div>

{% endblock %}
