{% extends  "admin_template.html" %}

{% block per_page_title %}
Check your mobile number
{% endblock %}

{% block maincolumn_content %}

<!-- this page is just a hack for building out pages - same functionality as text-not-received, but for the register from an invite flow -->

<div>
  <div>
    <h1>{{ _('Check your mobile number') }}</h1>

    <p class="notifications-phone-confirm">{{ _('Check that your mobile phone number is correct and then re-send the security code.') }}</p>

      <p>
      <label for="mobile">{{ _('Mobile phone number') }}</label>
      <input class="form-control w-full md:w-1/4" id="mobile" type="text" value="08983336666">
      </p>


      <p>
      <a href="verify-mobile" role="button">{{ _('Re-send security code') }}</a>
      </p>
  </div>
</div>

{% endblock %}
