{% extends  "admin_template.html" %}

{% block per_page_title %}
{{ _('Confirm your mobile number') }}
{% endblock %}

{% block maincolumn_content %}

<div>
  <div>
    <h1>{{ _('Confirm your mobile number') }}</h1>

      <p>{{ _('We’ve sent you a security code by text message.') }}</p>

      <p>
      <label for="email">{{ _('Enter security code') }}<br>
      <input class="form-control w-full md:w-1/4" id="email" type="text"><br>
      <span><a href="{{ url_for('.text-not-received-2') }}">{{ _('I haven’t received a text') }}</a></span>
      </p>

      <p>
      <a href="dashboard" role="button">{{ _('Continue') }}</a>
      </p>
  </div>
</div>

{% endblock %}
