{% extends  "admin_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/textbox.html" import textbox %}
{% from "components/radios.html" import radios %}
{% from "components/form.html" import form_wrapper %}

{% block per_page_title %}
  {{ _('New organisation') }}
{% endblock %}

{% block maincolumn_content %}
  <div>
    <div>
      <a href="{{ url_for('.organisations') }}">{{ _('All organisations') }}</a>
      <a href="{{ url_for('main.choose_account') }}">{{ _('Switch service') }}</a>
    </div>

    <main role="main">
      <div>
        <div>
          &nbsp;
        </div>
        <div>
          {{ page_header(_('New organisation')) }}
          {% call form_wrapper() %}
            {{textbox(form.name)}}
            {{radios(form.organisation_type)}}
            <input type="hidden" name="organisation_type" value="central" />
            {{radios(form.crown_status)}}
            {% set button_txt = _('Save') %}
            {{ page_footer(button_txt) }}
          {% endcall %}
        </div>
      </div>
    </main>
  </div>

{% endblock %}
