{% from 'components/message-count-label.html' import message_count_label %}
{% from "components/buttons.html" import primary_button_blue_lighter, secondary_button_transparent_white %}

<div>
  {% if template._template.archived %}
    <p class="notifications-hint">
      {{ _('This template was deleted') }} <span>{{ template._template.updated_at }}</span>.
    </p>
  {% elif not current_user.has_permissions('send_messages', 'manage_api_keys', 'manage_templates', 'manage_service') or not user_has_template_permission %}
    <p class="mt-4 block {% if template.template_type != 'sms' %}mb-12{% endif %}">
      {{ _('If you need to send this') }}
      {{ message_count_label(1, template.template_type, suffix='') }}
      {{ _('or edit this template, contact your service manager.') }}
    </p>
  {% else %}
    {% if current_user.has_permissions('send_messages', restrict_admin_usage=True) %}
      <h2>{{ _('Ready to send?') }}</h2>

      <ul class="fr-btns-group fr-btns-group--inline">
        <li>
          {{ primary_button_blue_lighter(label=_('Yes, add recipients'), href=url_for('.add_recipients', service_id=current_service.id, template_id=template.id)) }}
        </li>
        <li>
          {{ secondary_button_transparent_white(label=_('No, send yourself this message'), href=url_for('.send_test', service_id=current_service.id, template_id=template.id)) }}
        </li>
      </ul>
    {% endif %}
  {% endif %}
</div>

<div>
  {{ template|string|translate_preview_template }}
</div>
