{% extends "org_template.html" %}
{% from "components/table.html" import list_table, row, field, hidden_field_heading %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/tick-cross.html" import tick_cross %}
{% from "components/textbox.html" import textbox %}
{% from "components/live-search.html" import live_search %}
{% from "components/buttons.html" import primary_button_blue_lighter, secondary_button_transparent_white %}

{% block org_page_title %}
  Team members
{% endblock %}

{% block org_content %}

  <h1>
    Team members
  </h1>

  {% if show_search_box %}
    <div data-module="autofocus">
      {{ live_search(target_selector='.notifications-user-list-item', show=True, form=form) }}
    </div>
  {% endif %}

  <div class="notifications-user-list">
    {% for user in users %}
      <div class="notifications-user-list-item">
        <h3>
          {%- if user.name -%}
            <span class="notifications-heading-small">{{ user.name }}</span>&ensp;
          {%- endif -%}
          <span>
            {%- if user.status == 'pending' -%}
              {{ user.email_address }} (invited)
            {%- elif user.status == 'cancelled' -%}
              {{ user.email_address }} ({{ _('cancelled invite') }})
            {%- elif user.id == current_user.id -%}
              ({{ _('you') }})
            {% else %}
              {{ user.email_address }}
            {% endif %}
          </span>
        </h3>
        <ul>
          <li>
            {% if user.status == 'pending' %}
              {{ secondary_button_transparent_white(label="Cancel invitation", href=url_for('.cancel_invited_org_user', org_id=current_org.id, invited_user_id=user.id), class="notifications-cancel-invitation-button") }}
            {% endif %}
          </li>
        </ul>
      </div>
    {% endfor %}
  </div>

  <div>
    {{ primary_button_blue_lighter(label="Invite team member", href=url_for('.invite_org_user', org_id=current_org.id)) }}
  </div>

{% endblock %}
