{% extends "org_template.html" %}
{% from "components/live-search.html" import live_search %}

{% block org_page_title %}
  {{ _('Services') }}
{% endblock %}

{% block org_content %}

  <h1>
    {{ _('Trial services') }}
  </h1>
  {{ live_search(target_selector='.notifications-browse-list-item', show=True, form=search_form, label=_('Search by name')) }}
  <ul>
  {% for service in current_org.trial_services %}
    <li class="notifications-browse-list-item">
      <a class="notifications-browse-list-link" href="{{ url_for('main.service_dashboard', service_id=service.id) }}">{{ service['name'] }}</a>
    </li>
  {% endfor %}
  </ul>

{% endblock %}
