{% extends  "admin_template.html" %}
{% block per_page_title %}{{ _('File too big') }}{% endblock %}
{% block maincolumn_content %}
    <div>
      <div>
        <h1>
          {{ _('The file you uploaded was too big') }}
        </h1>
        <div>
          <div>
            <p>
              {{ _('Files must be smaller than 5 MB.') }}
            </p>
            <p>
              <a href="javascript: history.go(-1)">{{ _('Go back and try again.') }}</a>
            </p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
