{% extends "withoutnav_template.html" %}
{% block per_page_title %}Sorry, there’s a problem with the service{% endblock %}
{% block maincolumn_content %}
  <div class="fr-grid-row">
    <div class="fr-col-lg-8">
      <h1>
        Sorry, there’s a problem with GOV.UK Notify
      </h1>
      <p>
        Try again later.
      </p>
      <p>
        You can check our <a class="fr-link" href="https://status.notifications.service.gov.uk">system status</a> page to see if there are any known issues.
      </p>
      <p>
        To report a problem, email <a class="fr-link" href="mailto:gov-uk-notify-support@digital.cabinet-office.gov.uk">gov-uk-notify-support@digital.cabinet-office.gov.uk</a>
      </p>
    </div>
  </div>
{% endblock %}
