{% from "components/links.html" import content_link_light with context %}

{% if stats %}
<!-- COUNTER -->
<div>
  <span aria-hidden="true"></span>
  <div>
    <!-- Box 1-->
    <div>
      <h2>{{ _("GC Notify by the numbers") }}</h2>
      <p>
        {{ content_link_light(label=_("Learn more about activity on GC&nbsp;Notify"), href=url_for('.stats' )) }}
      </p>
    </div>
    <!-- Box 2-->
    <p>
      <span>
        {{ stats.live_services | format_number }}</span>
      <span>{{ _("services using GC&nbsp;Notify") }}</span>
    </p>
    <!-- Box 3-->
    <p>
      <span>
        {{ stats.notifications_total | format_number }}</span>
      <span>{{ _("messages sent") }}</span>
    </p>
    <!-- end -->
  </div>
</div>
<!-- END COUNTER -->
{% endif %}