{% from "components/buttons.html" import primary_button_blue_lighter, secondary_button_transparent_white %}

<!-- start section 7 -->
  <div>
    <div>
      <h2>
        {{ _("Start sending test messages right away!") }}
      </h2>
      {{ primary_button_blue_lighter(label=_("Try it now"), href=url_for('.register' )) }}
      <p>
        {{ _("Want to know more?") }}
        {{ secondary_button_transparent_white(
          label=_("Get in touch"), 
          href=url_for('.contact'),
        ) }}
      </p>
    </div>
  </div>
<!-- end section 7 -->