{% from "components/banner.html" import banner_wrapper %}

{% call banner_wrapper(type='tour') %}
    <p>{{ _('Try sending yourself this example') }}</p>
    <div class="grid-row contain-floats mb-12 clear-both contain-floats {% if help != '1' %}greyed-out-step{% endif %}">
      <div>
        <p style="float: left;">1.</p>
      </div>
      <div>
        <p>
          {{ _('Every message is sent from a template') }}
        </p>
      </div>
    </div>
    <div class="grid-row contain-floats mb-12 clear-both contain-floats {% if help != '2' %}greyed-out-step{% endif %}">
      <div>
        <p>2.</p>
      </div>
      <div>
        <p>
          {{ _('The template pulls information from your data') }}
        </p>
      </div>
    </div>
    <div class="grid-row contain-floats mb-12 clear-both contain-floats {% if help != '3' %}greyed-out-step{% endif %}">
      <div>
        <p>3.</p>
      </div>
      <div>
        <p>
          {{ _('GC Notify delivers the message') }}
        </p>
        {% if help == '3' %}
          <a href='{{ url_for(".go_to_dashboard_after_tour", service_id=current_service.id, example_template_id=template.id) }}'>
            {{ _('Now go to your dashboard') }}
          </a>
        {% endif %}
      </div>
    </div>
{% endcall %}
