{% extends "main_template.html" %}
{% from "components/banner.html" import banner %}
{% block head %}
  {% block meta %}
  {% endblock %}
{% endblock %}

{% set withnav = True %}
{% set extra_title = ' - ' + current_service.name if current_service.name and current_user.has_permissions() else '' %}

{% block page_title %}
  {% block per_page_title %}{% endblock %} {% block service_page_title %}{% endblock %} {{ extra_title }} – {{ _('Notify')}}
{% endblock %}

{% block content %}
  <div id="main_content">
    <main role="main" class="{% block main_content_class %}fr-py-3w{% endblock %}">
      {% include 'partials/flash_messages.html' %}
      {% block maincolumn_content %}{% endblock %}
    </main>
  </div>
{% endblock %}
