{% from "components/dsfr/sidemenu-item.njk" import frSidemenuItem %}

{% if help %}
  {% include 'partials/tour.html' %}
{% else %}
  <nav class="fr-sidemenu navigation" aria-label="Service">
    <div class="fr-sidemenu__inner">
      <button class="fr-sidemenu__btn" hidden aria-controls="fr-sidemenu-wrapper" aria-expanded="false">Dans cette rubrique</button>
      <div class="fr-collapse" id="fr-sidemenu-wrapper">
        <div class="fr-sidemenu-inner"></div>
        <ul class="fr-sidemenu__list">
          {% if current_user.has_permissions() %}
            {% if current_service.has_permission('broadcast') %}
              {{ frSidemenuItem(
                  url_for('.broadcast_dashboard', service_id=current_service.id),
                  "Current alerts",
                  main_navigation.is_selected('current-broadcasts')
              )
              }}

              {{ frSidemenuItem(
                  url_for('.broadcast_dashboard_previous', service_id=current_service.id),
                  "Past alerts",
                  main_navigation.is_selected('previous-broadcasts')
              )
              }}
              {{ frSidemenuItem(
                  url_for('.broadcast_dashboard_rejected', service_id=current_service.id),
                  "Rejected alerts",
                  main_navigation.is_selected('rejected-broadcasts')
              )
              }}

            {% elif current_user.has_permissions('view_activity') %}
              {{ frSidemenuItem(
                  url_for('.service_dashboard', service_id=current_service.id),
                  "Tableau de bord",
                  main_navigation.is_selected('dashboard')
              )
              }}

            {% endif %}
            {{ frSidemenuItem(
                url_for('.choose_template', service_id=current_service.id),
                "Templates",
                main_navigation.is_selected('templates')
            )
            }}

            {% if not current_user.has_permissions('view_activity') %}
              {{ frSidemenuItem(
                  url_for('.view_notifications', service_id=current_service.id, status='sending,delivered,failed'),
                  "Messages envoyés",
                  casework_navigation.is_selected('sent-messages')
              )
              }}

            {% endif %}
            {% if not current_service.has_permission('broadcast') %}
              {{ frSidemenuItem(
                  url_for('main.uploads', service_id=current_service.id),
                  "Uploads",
                  main_navigation.is_selected('uploads')
              )
              }}

            {% endif %}
            {{ frSidemenuItem(
                url_for('.manage_users', service_id=current_service.id),
                "Votre équipe",
                main_navigation.is_selected('team-members')
            )
            }}

            {% if current_user.has_permissions('manage_service', allow_org_user=True) and not current_service.has_permission('broadcast') %}
              {{ frSidemenuItem(
                  url_for('.usage', service_id=current_service.id),
                  "Usage",
                  main_navigation.is_selected('usage')
              )
              }}

            {% endif %}
            {% if current_user.has_permissions('manage_api_keys', 'manage_service') %}
              {{ frSidemenuItem(
                  url_for('.service_settings', service_id=current_service.id),
                  "Paramètres",
                  main_navigation.is_selected('settings')
              )
              }}

            {% endif %}
            {% if current_user.has_permissions('manage_api_keys') %}
              {% if current_service.has_permission('broadcast') %}
                {{ frSidemenuItem(
                    url_for('.api_keys', service_id=current_service.id),
                    "API integration",
                    main_navigation.is_selected('api-integration')
                )
                }}

              {% else %}
                {{ frSidemenuItem(
                    url_for('.api_integration', service_id=current_service.id),
                    "Intégration API",
                    main_navigation.is_selected('api-integration')
                )
                }}

              {% endif %}
            {% endif %}
          {% elif current_user.has_permissions(allow_org_user=True) %}
            {{ frSidemenuItem(
                url_for('.usage', service_id=current_service.id),
                "Usage",
                main_navigation.is_selected('usage')
            )
            }}

            {{ frSidemenuItem(
                url_for('.manage_users', service_id=current_service.id),
                "Votre équipe",
                main_navigation.is_selected('team-members')
            )
            }}
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
{% endif %}
