{% from "components/dsfr/sidemenu-item.njk" import frSidemenuItem %}

<nav class="navigation fr-sidemenu" aria-label="Organisation">
  <div class="fr-sidemenu__inner">
    <button class="fr-sidemenu__btn" hidden aria-controls="fr-sidemenu-wrapper" aria-expanded="false">Dans cette rubrique</button>
    <div class="fr-collapse" id="fr-sidemenu-wrapper">
      <div class="fr-sidemenu-inner"></div>
      <ul class="fr-sidemenu__list">
        {{ frSidemenuItem(
            url_for('.organisation_dashboard', org_id=current_org.id),
            "Usage",
            org_navigation.is_selected('dashboard')
        )
        }}
        {{ frSidemenuItem(
            url_for('.manage_org_users', org_id=current_org.id),
            "Votre équipe",
            org_navigation.is_selected('team-members')
        )
        }}
        {% if current_user.platform_admin %}
          {{ frSidemenuItem(
              url_for('.organisation_settings', org_id=current_org.id),
              "Settings",
              org_navigation.is_selected('settings')
          )
          }}
          {{ frSidemenuItem(
              url_for('.organisation_trial_mode_services', org_id=current_org.id),
              "Trial mode services",
              org_navigation.is_selected('trial-services')
          )
          }}
          {{ frSidemenuItem(
              url_for('.organisation_billing', org_id=current_org.id),
              "Billing",
              org_navigation.is_selected('billing')
          )
          }}
        {% endif %}
      </ul>
</nav>
