{% extends "views/platform-admin/_base_template.html" %}

{% block per_page_title %}
  {% block org_page_title %}{% endblock %} – {{ current_org.name }}
{% endblock %}

{% block platform_admin_content %}
  <div>
    <div>
      {{ current_org.name }}
    </div>
    <div>
      <div>
        <nav>
          <ul>
            <li><a
              href="{{ url_for('.organisation_dashboard', org_id=current_org.id) }}" {{ org_navigation.is_selected('dashboard') }}>Usage</a>
            </li>
            <li><a
              href="{{ url_for('.manage_org_users', org_id=current_org.id) }}" {{ org_navigation.is_selected('team-members') }}>Team
              members</a></li>
            {% if current_user.platform_admin %}
              <li><a
                href="{{ url_for('.organisation_settings', org_id=current_org.id) }}" {{ org_navigation.is_selected('settings') }}>Settings</a>
              </li>
              <li><a
                href="{{ url_for('.organisation_trial_mode_services', org_id=current_org.id) }}" {{ org_navigation.is_selected('trial-services') }}>Trial
               services</a></li>
            {% endif %}
          </ul>
        </nav>
      </div>
      <main role="main">
        {% include 'partials/flash_messages.html' %}
        {% block org_content %}{% endblock %}
      </main>
    </div>
  </div>
{% endblock %}
